/*
 * Custom JavaFX TableView Styling
 */

.mainFxmlClass {}

/* Table View */
.table-view {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-font-family: "Arial";
    -fx-padding: 10px;
    
}

/* Column Header Text */
.table-view .column-header {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
     -fx-border-color: black;
    
}
.table-view .column-header-background {
    -fx-background-color: transparent;
    -fx-border-radius: 8px 8px 0 0;
    -fx-background-radius: 8px 8px 0 0;
    -fx-text-fill: white;
}

.table-cell {
    -fx-padding: 10px;
    -fx-border-color: black;
    -fx-border-width: 0 1px 0 0;
    -fx-alignment: CENTER;
}
.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 0 0 1px 0;
}
.table-view .scroll-bar:vertical {
    -fx-background-color: #f0f0f0;  /* Background color */
}


/* Alternate Row Colors 
.table-row-cell:odd {
    -fx-background-color: #f5f5f5;
}*/

/* Hover Effect */
.table-row-cell:hover {
    -fx-background-color: #e1e4e8;
}

/* Selected Row */
.table-row-cell:selected {
    -fx-background-color: white; 
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
/* ---------- Buttons ---------- */
.button {
    -fx-background-color: #3A86FF;
    -fx-text-fill: #FBFCF8;
    -fx-font-size: 14px;
    -fx-padding: 8px 16px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #265DDA;
    -fx-cursor: hand;
}

/* ---------- Labels ---------- */
.label {
    
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

/* ---------- TextField ---------- */
.text-field {
    -fx-background-color: #FBFCF8;
    -fx-border-color: #12192C;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.text-field:focused {
    -fx-border-color: #3A86FF;
}

/* ---------- ComboBox ---------- */
.combo-box {
    -fx-background-color: #FBFCF8;
    -fx-border-color: #12192C;
    -fx-border-radius: 5px;
    -fx-padding: 4px;
}

.combo-box:focused {
    -fx-border-color: #3A86FF;
}

/* ---------- RadioButton ---------- */
.radio-button {
    -fx-font-size: 13px;
    -fx-text-fill: #170101;
}

/* ---------- ListView ---------- */
.list-view {
    -fx-background-color: #FBFCF8;
    -fx-border-color: #12192C;
}

/* ---------- Header Label ---------- */
.header {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
    -fx-alignment: center;
}
