/* Root Background */
.root {
    -fx-background-color: #FBFCF8; /* Light background */
    -fx-font-family: "Poppins";
}

/* Top Bar Styling */
.topbar {
    -fx-background-color: #12192C; /* Dark blue */
    -fx-padding: 10px 20px;
    -fx-text-fill: white;
    -fx-min-height: 50px;
    -fx-alignment: center-left;
}

/* Main Log Container */
.container {
    -fx-background-color: #FBFCF8;
    -fx-padding: 20px;
    -fx-border-radius: 10px;
}

.audit-log-container {
    -fx-background-color: #12192C; /* Dark background for logs */
    -fx-text-fill: #FBFCF8; /* White text */
    -fx-padding: 20px;
    -fx-border-radius: 10px;
}

/* Table Styling */
.table-view {
    -fx-background-color: #FBFCF8;
}

.table-view .column-header-background {
    -fx-background-color: transparent; /* Blue header */
}

.table-view .column-header {
    -fx-background-color: transparent;
    -fx-text-fill: #FBFCF8; /* Light text */
    -fx-font-weight: bold;
}

.table-row-cell {
    -fx-background-color: #FBFCF8; /* Light row background */
    -fx-text-fill: black;
    -fx-font-size: 12px;
}

.table-row-cell:selected {
    -fx-background-color: #12192C; /* Darker blue */
    -fx-text-fill: white;
}

/* Search Bar Styling */
.text-field {
    -fx-background-color: #FBFCF8;
    -fx-border-color: #12192C;
    -fx-border-radius: 5px;
    -fx-padding: 5px;
}

.text-field:focused {
    -fx-border-color: #3A86FF;
}

/* Buttons */
.button {
    -fx-background-color: #12192C;
    -fx-text-fill: #FBFCF8;
    -fx-font-size: 14px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 8px;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #265DDA;
    -fx-cursor: hand;
}

/* Title Bar */
.title-bar {
    -fx-background-color: #12192C;
    -fx-alignment: center-left;
}

/* Title Bar Text */
.title-bar-label {
    -fx-text-fill: #FBFCF8;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
