.root {
    -fx-background-color: #fcf7f8;
}

.pane {
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 10;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 5);
}

.label {
    -fx-font-size: 13px;
    -fx-text-fill: #333;
}

.text-field, .text-area {
    -fx-pref-height: 30px;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.text-area {
    -fx-pref-height: 50px;
}



.menu-button {
    -fx-pref-height: 30px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
}

.menu-button:hover {
    -fx-background-color: #ddd;
    -fx-text-fill: white;
}

.menu-item {
    -fx-pref-width: 300px; 
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}
.button {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.2), 5, 0, 0, 3);
}

.button:hover {
    -fx-background-color: #e75480;
    -fx-text-fill: white;
}

.date-picker {
    -fx-pref-height: 30px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

.date-picker:focused {
    -fx-border-color: #e75480;
    -fx-effect: dropshadow(three-pass-box, rgba(231, 84, 128, 0.5), 5, 0, 0, 3);
}

.date-picker .arrow-button {
    -fx-background-color: white;
    -fx-border-radius: 0 5 5 0;
}

.date-picker .arrow-button:hover {
    -fx-background-color: #e75480;
}

.date-picker-popup {
    -fx-border-color: #e75480;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

.date-picker .cell {
    -fx-font-size: 14px;
    -fx-text-fill: black;
    -fx-padding: 5;
}

.date-picker .cell:hover {
    -fx-background-color: #e75480;
    -fx-text-fill: white;
}

.date-picker .selected {
    -fx-background-color: #e75480;
    -fx-text-fill: white;
}
