/* Main Sidebar */
Pane {
    -fx-background-color: #ffffff;
}

/* Sidebar Buttons */
Button {
    -fx-background-color: transparent;
    -fx-padding: 10 10 10 40;
    -fx-border-radius: 8;
    -fx-background-radius: 8;
    -fx-font-family: 'Cambria';
    -fx-font-size: 14px;
    -fx-text-fill: #333;
    -fx-alignment: CENTER_LEFT;
}

Button:hover {
    -fx-background-color: #12192C;
    -fx-text-fill: #ffffff;
}

Button:pressed {
    -fx-background-color: #C0BABA;
}

/* Sidebar Icons */
ImageView {
    -fx-opacity: 0.8;
}

ImageView:hover {
    -fx-opacity: 1;
}
