
/* Navigation Bar */
.nav-bar {
    -fx-background-color: #12192C;
    -fx-padding: 10px;
    -fx-border-radius: 5px;
}

/* Navigation Buttons */
.nav-button {
    -fx-background-color: transparent;
    -fx-text-fill: #FBFCF8;
    -fx-font-size: 12px;
    -fx-padding: 5px 10px 5px 35px; 
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-alignment: center-left; 
    -fx-min-width: 165px;
    -fx-max-width: 165px;
    -fx-min-height: 35px; 
    -fx-graphic-text-gap: 6px;
}


.nav-button:hover {
    -fx-background-color: #C0C0C0; /* Slight transparency on hover */
    -fx-text-fill: black;
}
.nav-button:focused {
    -fx-background-color: #C0C0C0; /* Slight transparency on hover */
    -fx-text-fill: black;
}
