/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
/* Form */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 48px 72px;
gap: 32px;

position: absolute;
width: 540px;
height: 564px;
left: calc(50% - 540px/2);
top: calc(50% - 564px/2);

background: rgba(19, 19, 22, 0.8);
box-shadow: 20px 40px 60px rgba(0, 0, 0, 0.5);
backdrop-filter: blur(50px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 20px;


/* Frame 10 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 396px;
height: 28px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Welcome back */

display: none;
width: 120px;
height: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

/* text/secondary */
color: #5A5A5D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Title */

width: 267px;
height: 28px;

/* heading */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 100%;
/* identical to box height, or 28px */
display: flex;
align-items: center;

color: #FAFAFA;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 39 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

width: 396px;
height: 80px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 40 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 396px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 190px;
height: 48px;

background: #26272B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Icon/Google - Original */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 51%;
right: 0.97%;
top: 40.99%;
bottom: 12.07%;

background: #4285F4;


/* Vector */

position: absolute;
left: 6.32%;
right: 15.86%;
top: 59.58%;
bottom: 0%;

background: #34A853;


/* Vector */

position: absolute;
left: 1%;
right: 77.07%;
top: 27.56%;
bottom: 27.54%;

background: #FBBC04;


/* Vector */

position: absolute;
left: 6.32%;
right: 15.54%;
top: 0%;
bottom: 59.56%;

background: #EA4335;


/* Login now */

width: 58px;
height: 16px;

/* body/large/semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #A0A0AB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 8px;

width: 190px;
height: 48px;

background: #26272B;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Icon/Facebook - Original */

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.61%;

background: #1877F2;


/* Vector */

position: absolute;
left: 29.49%;
right: 27.73%;
top: 19.53%;
bottom: 0%;

background: #FFFFFF;


/* Login now */

width: 80px;
height: 16px;

/* body/large/semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #A0A0AB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Or */

width: 396px;
height: 16px;

/* body/large/semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: center;

color: #70707B;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 18 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 396px;
height: 248px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 396px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 396px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Email */

width: 396px;
height: 16px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #D1D1D6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 396px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input Text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 5px;

width: 396px;
height: 48px;

border: 3px solid #194185;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Context */

width: 335px;
height: 14px;

/* body/medium/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */
display: flex;
align-items: center;

color: #D1D1D6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 12 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon/eye */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 28 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 12px;

width: 396px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 396px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Password */

width: 328px;
height: 16px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #D1D1D6;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Forgot？ */

width: 68px;
height: 16px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-align: right;
text-transform: capitalize;

color: #A0A0AB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 396px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input Text */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 12px 16px;
gap: 5px;

width: 396px;
height: 48px;

border: 1px solid #3F3F46;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Context */

width: 335px;
height: 14px;

/* body/medium/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 100%;
/* identical to box height, or 14px */
display: flex;
align-items: center;

color: #70707B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Frame 12 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 8px;

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Icon/eye */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;



/* Vector */

position: absolute;
left: 6.25%;
right: 6.25%;
top: 21.88%;
bottom: 21.88%;

border: 1.5px solid #70707B;


/* Vector */

position: absolute;
left: 34.38%;
right: 34.38%;
top: 34.38%;
bottom: 34.38%;

border: 1.5px solid #70707B;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 5px;

width: 396px;
height: 48px;

background: #1570EF;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Login now */

width: 128px;
height: 16px;

/* body/large/semibold */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;

color: #FCFCFC;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 30 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;

width: 396px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 271px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Already have an account ? */

width: 216px;
height: 16px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #70707B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Log in */

width: 47px;
height: 16px;

/* body/large/regular */
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 100%;
/* identical to box height, or 16px */
display: flex;
align-items: center;
text-transform: capitalize;

color: #A0A0AB;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
