/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}

login.button {
    -fx-background-color: white;
    -fx-padding: 7px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 4);
}
.text-field {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 3px;
    -fx-font-size: 12px;
    -fx-font-family: "Arial";
}

.text-field:focused {
    -fx-border-color: black;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 0, 0);
}

.menu-item {
    -fx-pref-width: 233px; 
     -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}