/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}
RadialGradient radialGradient = new RadialGradient(
        0, 0, 0.5, 0.5, 0.5, true, CycleMethod.NO_CYCLE, 
        new Stop(0, Color.web("#ff7e5f")), 
        new Stop(1, Color.web("#feb47b"))
);

root.setBackground(new Background(new BackgroundFill(radialGradient, CornerRadii.EMPTY, null)));
